/* Ադմինի կոճակների (խմբագրել/ջնջել) տեղակայումը */
.adminBookActions {
   display: flex;
   gap: 8px;
   align-self: flex-start;
}

/* Ջնջելու կոճակի ոճը */
.deleteBtn {
   background: #fff;
   color: #e74c3c;
   border: 1px solid #e74c3c;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.3s ease;
   margin-top: 10px;
   font-size: 16px;
}

.deleteBtn:hover {
   background: #e74c3c;
   color: #fff;
   transform: scale(1.05);
}

/* Խմբագրելու կոճակի ոճը */
.editBtn {
   background: #fff;
   color: #8e44ad;
   border: 1px solid #8e44ad;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.3s ease;
   margin-top: 10px;
   font-size: 16px;
}

.editBtn:hover {
   background: #8e44ad;
   color: #fff;
   transform: scale(1.05);
}